.popup__error {
  opacity: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  color: #FF0000;
  display: block;
  margin-top: 5px;
  min-height: 29px;
  max-width: 236px;
}

@media screen and (min-width: 768px) {
  .popup__error {
    max-width: 325px;
  }
}

.popup__error:not(:last-of-type) {
  margin-bottom: 5px;
}
