.profile__edit-button {
  padding: 8px 8px;
  border: 1px #fff solid;
  background-color: #000;
  background-image: url(../../../images/pen.svg);
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 10px;
  transition: linear 0.3s;
}

.profile__edit-button:hover {
  cursor: pointer;
  opacity: 60%;
}

@media screen and (min-width:1024px) {
  .profile__edit-button {
    padding: 11px 11px;
    background-image: url(../../../images/big_pen.svg);
    margin-left: 18px;
  }
}
