.popup__input {
  border: none;
  border-bottom: rgba(0, 0, 0, 0.2) solid 1px;
  font-size: 14px;
  font-weight: 400;
  line-height: 114%;
  padding-bottom: 5px;
  padding-top: 5px;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: "Inter", "Arial", sans-serif;
  max-width: 238px;
  padding-left: 0;
  padding-right: 0;
}

.popup__input:not(:first-child) {
  margin-top: 22px;
}

@media screen and (min-width: 768px) {
  .popup__input {
    max-width: 358px;
  }
}
