.popup__container {
  max-width: 282px;
  min-height: 322px;
  background-color: #fff;
  border-radius: 3%;
  overflow: hidden;
  margin: auto;
  position: relative;
}

@media screen and (min-width: 768px) {
  .popup__container {
    max-width: 430px;
    min-height: 330px;
  }
}
