.profile {
  display: grid;
  justify-items: center;
}

@media screen and (min-width:1024px) {
  .profile {
    grid-template-columns: repeat(2, minmax(min-content, max-content)) 244px minmax(min-content, max-content);
    grid-template-rows: repeat(5, 35px);
    align-items: baseline;
    justify-content: start;
    justify-items: normal;
  }
}
