.popup__save {
  padding: 13px 80px;
  border-radius: 2%;
  background-color: #000;
  color: #fff;
  margin-top: 11px;
  transition: 0.3s linear;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  font-family: 'Inter';
  line-height: 114%;
  width: 100%;
  margin-bottom: 25px;
}

.popup__save:hover {
  opacity: 80%;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .popup__save {
    padding: 13px 130px;
    margin-top: 31px;
    font-size: 18px;
    margin-bottom: 36px;
  }
}
