.profile__edit-container {
  display: flex;
  align-items: center;
}

@media screen and (min-width:1024px) {
  .profile__edit-container {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    margin-left: 30px;
  }
}
