.profile__title {
  font-weight: 500;
  font-style: normal;
  font-size: 27px;
  line-height: 120%;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 189px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  min-width: 189px;
}

@media screen and (min-width: 1024px) {
  .profile__title {
    font-size: 42px;
    line-height: 114%;
    max-width: 294px;
    min-width: 294px;
  }
}
