.profile__add-button {
  padding: 22px 138px;
  background-color: #000;
  border: #fff solid 3px;
  border-radius: 2%;
  background-image: url(../../../images/plus.svg);
  background-position: center;
  background-repeat: no-repeat;
  transition: linear 0.3s;
}

.profile__add-button:hover {
  opacity: 60%;
  cursor: pointer;
}

@media screen and (min-width:1024px) {
  .profile__add-button {
    padding: 22px 72px;
    grid-column-start: -1;
    grid-row-start: 3;
  }
}
