.footer__copyright {
  font-size: 14px;
  color: #545454;
  line-height: 120%;
  font-style: normal;
  font-weight: 400;
  margin-top: 48px;
  margin-left: 19px;
  padding-bottom: 33px;
  margin-bottom: 0;
}

@media screen and (min-width:768px) {
  .footer__copyright {
    font-size: 18px;
    padding-bottom: 56px;
  }
}
