.popup__box {
  display: flex;
  min-width: 284px;
  margin: auto;
  flex-direction: column;
  align-items: flex-end;
  z-index: 2;
  left: 0;
  right: 0;
  min-height: 481px;
}

@media screen and (min-width: 768px) {
  .popup__box {
    min-width: 500px;
    min-height: 425px;
  }
}
