.popup__button-text {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  font-family: 'Inter';
  line-height: 114%;
}

@media screen and (min-width:768px) {
  .popup__button-text {
    font-size: 18px;
  }
}
