.profile__info {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 120%;
  margin-top: 7px;
  margin-bottom: 33px;
  max-width: 282px;
}

@media screen and (min-width:1024px) {
  .profile__info {
    font-size: 18px;
    grid-column-start: 2;
    grid-row-start: 4;
    margin: 0;
    margin-top: 15px;
    margin-left: 30px;
  }
}
