.card__title {
  font-weight: 900;
  font-style: normal;
  font-size: 24px;
  line-height: 120%;
  background-color: #fff;
  color: #000;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 21px;
  max-width: 189px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
