.card {
  background-color: #fff;
  max-width: 280px;
  border-radius: 3%;
  overflow: hidden;
}

@media screen and (min-width: 320px) and (max-width:767px) {
  .card:not(:first-of-type) {
    margin-top: 20px;
  }
}
