.card__heart {
  background-image: url(../../../images/heart.svg);
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  padding: 12px 18px;
  background-color: #fff;
  margin-right: 20px;
  transition: linear 0.3s;
  object-fit: cover;
}

.card__heart:hover {
  opacity: 50%;
  cursor: pointer;
}

.card__heart:active {
  background-image: url(../../../images/black_heart.svg);
}
